::selection
  background: #E5E5E5

::-moz-selection
  background: #E5E5E5

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: #E5E5E5
