@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.2em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}

.blog-line .blog-window {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/ksbn6V */
@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.71% {
    -webkit-transform: matrix3d(0.899, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.899, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.51% {
    -webkit-transform: matrix3d(1.134, 0, 0, 0, 0, 1.134, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.134, 0, 0, 0, 0, 1.134, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.31% {
    -webkit-transform: matrix3d(1.202, 0, 0, 0, 0, 1.202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.202, 0, 0, 0, 0, 1.202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.71% {
    -webkit-transform: matrix3d(1.142, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.142, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.02% {
    -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.62% {
    -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  38.04% {
    -webkit-transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  51.35% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  64.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  78.08% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  91.39% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.71% {
    -webkit-transform: matrix3d(0.899, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.899, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.51% {
    -webkit-transform: matrix3d(1.134, 0, 0, 0, 0, 1.134, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.134, 0, 0, 0, 0, 1.134, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.31% {
    -webkit-transform: matrix3d(1.202, 0, 0, 0, 0, 1.202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.202, 0, 0, 0, 0, 1.202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.71% {
    -webkit-transform: matrix3d(1.142, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.142, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.02% {
    -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.62% {
    -webkit-transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.96, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  38.04% {
    -webkit-transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  51.35% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  64.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  78.08% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  91.39% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #E5E5E5;
}

::-moz-selection {
  background: #E5E5E5;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #E5E5E5;
}

a {
  color: #E5E5E5;
  text-decoration: none;
  outline: 0;
}

a:hover,
a:focus {
  color: white;
}

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
.button:active,
.button:focus,
button:hover,
button:active,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.footer {
  width: 100%;
  height: 125px;
  background-color: #212121;
  overflow-y: hidden;
}

.footer::after {
  clear: both;
  content: "";
  display: table;
}

.footer nav {
  padding: 15px;
  text-align: center;
}

.footer nav a {
  padding-right: 30px;
  font-size: 24px;
  font-weight: 300;
  color: #777;
}

.footer nav a:hover {
  font-size: 24px;
  color: #FFF;
}

.footer p {
  text-align: center;
  padding-bottom: 5px;
}

@media screen and (max-width: 610px) {
  .footer nav a {
    font-size: 19px;
  }
  .footer nav a:hover {
    font-size: 19px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    height: 80px;
  }
  .footer nav {
    padding-bottom: 8px;
    padding-left: 25px;
  }
  .footer nav a {
    font-size: 12px;
  }
  .footer nav a:hover {
    font-size: 12px;
  }
  .footer p {
    font-size: 10px;
  }
}

html, body, footer, header {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

.header-image {
  width: 100%;
  margin-top: -100px;
  padding-bottom: 600px;
  background: url(/assets/img/bg/background-head.jpg) center center;
  background-size: cover;
}

.header-image::after {
  clear: both;
  content: "";
  display: table;
}

.header-image nav {
  padding-top: 170px;
  text-align: center;
}

.header-image nav a {
  padding-right: 30px;
  font-size: 24px;
  font-weight: 300;
  color: #999;
}

.header-image nav a:hover {
  font-size: 24px;
  color: #FFF;
}

.header-image h1 {
  padding-top: 70px;
  color: #999;
  margin: 0;
  text-align: center;
}

.header-image .sub-title {
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
}

@media screen and (max-width: 610px) {
  .header-image nav a {
    font-size: 19px;
  }
  .header-image nav a:hover {
    font-size: 19px;
  }
}

@media screen and (max-width: 400px) {
  .header-image nav {
    padding-left: 15px;
  }
  .header-image nav a {
    font-size: 14px;
  }
  .header-image nav a:hover {
    font-size: 14px;
  }
}

.about-section {
  width: 100%;
  height: 900px;
  background-color: #E5E5E5;
}

.about-section h3 {
  text-align: center;
}

.about-section .left {
  width: 50%;
  height: 350px;
  float: left;
}

.about-section .right {
  width: 50%;
  float: left;
}

.about-section .bottom {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  float: right;
}

.about-section .about-width {
  max-width: 1300px;
  margin: 0 auto;
}

.about-section .canvases {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-right: 25px;
}

.about-section .canvases div {
  float: left;
}

.about-section .canvases h5 {
  margin: 0;
  float: none;
  position: relative;
  text-align: center;
}

.about-section .canvases canvas {
  padding: 30px;
  float: left;
}

.about-section .picture {
  height: 400px;
  width: 400px;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url(/assets/img/bg/circleimage.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 100px;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #3d3d3d;
  float: left;
}

.about-section .about {
  width: 100%;
  padding-top: 50px;
  float: left;
}

.about-section .about h3 {
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

.about-section .about p {
  font-size: 18px;
  color: #212121;
  padding-right: 25px;
  margin: 0;
}

@media screen and (max-width: 1050px) {
  .about-section {
    height: 1000px;
  }
  .about-section .picture {
    height: 300px;
    width: 300px;
  }
  .about-section .bottom {
    float: none;
  }
}

@media screen and (max-width: 900px) {
  .about-section {
    height: 1050px;
  }
  .about-section .picture {
    height: 250px;
    width: 250px;
  }
  .about-section .bottom {
    float: none;
  }
}

@media screen and (max-width: 730px) {
  .about-section {
    height: 1100px;
  }
}

@media screen and (max-width: 700px) {
  .about-section {
    height: 1100px;
  }
  .about-section .left {
    float: none;
    width: 100%;
  }
  .about-section .right {
    float: none;
    width: 100%;
  }
  .about-section .right p {
    text-align: center;
    padding-left: 10px;
  }
  .about-section .bottom {
    float: none;
    width: 100%;
  }
  .about-section .canvases {
    padding-left: 10px;
  }
  .about-section .canvases canvas {
    padding: 30px;
    float: left;
  }
  .about-section .about {
    padding-top: 0;
  }
  .about-section .picture {
    background-position: center;
    background-size: contain;
    margin: 50px 31% 0;
  }
}

@media screen and (max-width: 630px) {
  .about-section {
    height: 1100px;
  }
  .about-section .bottom {
    width: 500px;
    height: 300px;
  }
  .about-section .canvases canvas {
    padding: 20px;
    float: left;
  }
  .about-section .picture {
    background-position: center;
    background-size: contain;
    margin: 50px 28% 0;
  }
}

@media screen and (max-width: 530px) {
  .about-section {
    height: 1200px;
  }
  .about-section .bottom {
    width: 485px;
    height: 300px;
  }
  .about-section .canvases {
    padding-left: 0;
  }
  .about-section .canvases canvas {
    padding: 20px;
    float: left;
  }
  .about-section .picture {
    background-position: center;
    background-size: contain;
    margin: 50px 24% 0;
  }
}

@media screen and (max-width: 475px) {
  .about-section {
    height: 1280px;
  }
  .about-section .bottom {
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  .about-section .canvases canvas {
    padding: 18px;
    float: left;
  }
  .about-section .picture {
    background-position: center;
    background-size: contain;
    margin: 50px 19% 0;
  }
}

@media screen and (max-width: 400px) {
  .about-section {
    height: 1280px;
  }
  .about-section .bottom {
    width: auto;
    height: auto;
  }
  .about-section .canvases canvas {
    padding: 15px;
    float: left;
  }
  .about-section .picture {
    background-position: center;
    background-size: contain;
    margin: 50px 15% 0;
  }
}

@media screen and (max-width: 350px) {
  .about-section {
    height: 1380px;
  }
  .about-section .bottom {
    width: auto;
    height: auto;
  }
  .about-section .canvases canvas {
    padding: 12px;
    float: left;
  }
  .about-section .picture {
    background-position: center;
    background-size: contain;
    margin: 50px 10% 0;
  }
}

.work-section {
  width: 100%;
  background-color: #A6A6A6;
  overflow-x: hidden;
}

.work-section h3 {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.work-slider {
  width: 200%;
  height: auto;
  background-color: #A6A6A6;
  position: relative;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  transition: all 800ms;
}

.work-grid {
  width: 50%;
  float: left;
  padding-bottom: 50px;
}

.showcase-wrap {
  width: 50%;
  float: left;
  overflow: hidden;
}

.my-work {
  margin: 0 auto;
  text-align: center;
  position: center;
  max-width: 900px;
}

.my-work #ag-thumb {
  background-image: url(/assets/img/work/proj-1/agthumb.png);
}

.my-work #ninja-thumb {
  background-image: url(/assets/img/work/proj-2/ninjathumb.png);
}

.my-work #mario-thumb {
  background-image: url(/assets/img/work/proj-3/mariothumb.png);
}

.my-work #ai-thumb {
  background-image: url(/assets/img/work/proj-4/aithumb.png);
}

.my-work #nim-thumb {
  background-image: url(/assets/img/work/proj-5/nimthumb.png);
}

.my-work #space-thumb {
  background-image: url(/assets/img/work/proj-6/spacethumb.png);
}

.my-work #raptor-thumb {
  background-image: url(/assets/img/work/proj-7/raptorthumb.png);
}

.my-work #weather-thumb {
  background-image: url(/assets/img/work/proj-8/weatherthumb.png);
}

.my-work #nimc3-thumb {
  background-image: url(/assets/img/work/proj-5/nimc3.png);
}

.my-work #game-thumb {
  background-image: url(/assets/img/work/proj-9/new-thumb.png);
}

.my-work #ash-thumb {
  background-image: url(/assets/img/work/proj-10/ashthumbnew.png);
}

.my-work #more-thumb {
  background-image: url(/assets/img/work/more/morethumb.png);
}

.my-work .work-window {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 250px;
  margin: 20px;
  float: left;
  overflow: hidden;
}

.my-work .work-window .hoverlay {
  height: 250px;
  width: 250px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(229, 229, 229, 0.8);
  background-position: center top;
  background-repeat: no-repeat;
}

.my-work .work-window .hoverlay p {
  padding-top: 115px;
  font-size: 30px;
  color: #212121;
}

.my-work .work-window:hover .hoverlay {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.my-work .work-window:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  box-shadow: 0px 10px 40px #212121;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.my-work .work-window:hover .swift-logo {
  background-image: url(/assets/img/logo/swiftlogo.png);
}

.my-work .work-window:hover .adobe-logo {
  background-image: url(/assets/img/logo/adobelogo.png);
}

.my-work .work-window:hover .raptor-logo {
  background-image: url(/assets/img/logo/raptorlogo.png);
}

.my-work .work-window:hover .vs-logo {
  background-image: url(/assets/img/logo/vslogo.png);
}

.my-work .work-window:hover .phaser-logo {
  background-image: url(/assets/img/logo/phaser-logo.png);
}

.my-work .work-window:hover .more-logo {
  background-image: url(/assets/img/logo/more-logo.png);
}

.showcase-wrap {
  padding-bottom: 70px;
}

.work-showcase {
  max-width: 900px;
  margin: 0px auto;
  position: relative;
}

.work-showcase h4 {
  color: #212121;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.2;
  margin: 0 0 20px;
}

.work-showcase p {
  color: #414141;
  font-size: 15px;
}

.work-showcase img {
  width: 100%;
  height: 100%;
}

.work-showcase img:hover {
  cursor: pointer;
}

.work-showcase .back-button {
  color: #212121;
  font-size: 100px;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  top: -44px;
  left: -100px;
}

.work-showcase .back-button:hover {
  opacity: 1;
}

.thumb-grid-horiz {
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  width: 48%;
  height: 300px;
  float: left;
}

.thumb-grid-horiz-2 {
  width: 99%;
  height: 500px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  float: left;
}

.thumb-grid-horiz-white {
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
  width: 48%;
  height: 300px;
  float: left;
}

.thumb-grid-vert {
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  width: 48%;
  height: 600px;
  float: left;
}

@media screen and (max-width: 1150px) {
  .work-showcase {
    max-width: 750px;
  }
}

@media screen and (max-width: 900px) {
  .work-showcase {
    max-width: 700px;
  }
  .work-showcase .back-button {
    height: 100px;
    margin-bottom: -5px;
    position: relative;
    left: 10px;
    float: left;
  }
  .my-work {
    padding-left: 7%;
  }
  .my-work .work-window {
    height: 180px;
    width: 180px;
  }
  .my-work .work-window .hoverlay {
    height: 180px;
    width: 180px;
  }
  .thumb-grid-horiz {
    height: 150px;
  }
  .thumb-grid-horiz-white {
    height: 150px;
  }
  .thumb-grid-horiz-2 {
    height: 300px;
  }
  .thumb-grid-vert {
    height: 300px;
  }
}

@media screen and (max-width: 750px) {
  .work-showcase {
    max-width: 550px;
  }
  .work-showcase .back-button {
    position: relative;
    left: 0;
    float: left;
  }
  .my-work {
    padding-left: 5%;
  }
  .my-work .work-window {
    height: 150px;
    width: 150px;
    margin: 15px;
  }
  .my-work .work-window .hoverlay {
    height: 150px;
    width: 150px;
  }
  .my-work .work-window .hoverlay p {
    font-size: 20px;
    color: #212121;
  }
}

@media screen and (max-width: 600px) {
  .work-showcase {
    max-width: 500px;
  }
  .work-showcase .back-button {
    position: relative;
    left: 10px;
    float: left;
  }
  .my-work {
    padding-left: 3%;
  }
  .my-work .work-window {
    height: 120px;
    width: 120px;
    margin: 12px;
  }
  .my-work .work-window .hoverlay {
    display: none;
  }
}

@media screen and (max-width: 495px) {
  .work-showcase {
    max-width: 350px;
  }
  .work-showcase .back-button {
    position: relative;
    left: 10px;
    float: left;
  }
  .my-work {
    padding-left: 5%;
  }
  .my-work .work-window {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .work-showcase {
    max-width: 300px;
  }
  .work-showcase .back-button {
    position: relative;
    padding-bottom: 10px;
    left: 10px;
    float: left;
  }
  .my-work {
    padding-left: 7%;
  }
  .my-work .work-window {
    height: 70px;
    width: 70px;
  }
}

.blog-section {
  width: 100%;
  background-color: #353535;
}

.blog-section::after {
  clear: both;
  content: "";
  display: table;
}

.blog-section h3 {
  color: #A6A6A6;
  padding-top: 50px;
  margin: 0;
  text-align: center;
}

.blog-slider {
  width: 200%;
  height: auto;
  right: 100%;
  background-color: #999;
  position: relative;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  transition: all 800ms;
}

.blog-controls {
  cursor: pointer;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.blog-controls img {
  height: 50px;
  width: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.blog-controls .blog-next {
  position: absolute;
  top: 50%;
  right: 10px;
}

.blog-controls .blog-prev {
  position: absolute;
  top: 50%;
  left: 10px;
}

.left-wrap {
  width: 50%;
  float: right;
  padding-bottom: 50px;
  overflow: hidden;
}

.right-wrap {
  width: 50%;
  float: right;
  padding-bottom: 70px;
}

.blog-line {
  max-width: 900px;
  margin: 20px auto;
  padding-left: 30px;
  position: relative;
  display: none;
}

.blog-line.active-blog {
  display: flex;
}

.blog-line #one-thumb {
  background-image: url(/assets/img/blog/freshers.png);
}

.blog-line #two-thumb {
  background-image: url(/assets/img/blog/2-months.png);
}

.blog-line #three-thumb {
  background-image: url(/assets/img/blog/progress.jpg);
}

.blog-line #four-thumb {
  background-image: url(/assets/img/blog/iosgames.jpg);
}

.blog-line #five-thumb {
  background-image: url(/assets/img/blog/swiftvs.png);
}

.blog-line #six-thumb {
  background-image: url(/assets/img/blog/ants.jpg);
}

.blog-line #seven-thumb {
  background-image: url(/assets/img/blog/project.png);
}

.blog-line #eight-thumb {
  background-image: url(/assets/img/blog/isep.png);
}

.blog-line #nine-thumb {
  background-image: url(/assets/img/blog/phaser.jpg);
}

.blog-line #ten-thumb {
  background-image: url(/assets/img/blog/me.png);
}

.blog-line #eleven-thumb {
  background-image: url(/assets/img/blog/thumb2016.jpg);
}

.blog-line #twelve-thumb {
  background-image: url(/assets/img/blog/zomb.png);
}

.blog-line #zomb-thumb {
  background-image: url(/assets/img/blog/TDS4.jpg);
}

.blog-line .blog-window {
  background-position: center;
  background-size: cover;
  cursor: pointer;
  height: 250px;
  width: 250px;
  margin: 20px;
  float: left;
}

.blog-line .blog-window h4 {
  color: #E5E5E5;
  padding-top: 270px;
  margin: 0;
  text-align: center;
}

.blog-line .blog-window p {
  color: #E5E5E5;
  text-align: center;
  padding-top: 10px;
}

.full-blog {
  max-width: 900px;
  background-color: #353535;
  margin: 0px auto;
  position: relative;
}

.full-blog h4 {
  color: #A6A6A6;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  font-size: 28px;
  line-height: 1.2;
  margin: 20px 0px;
  padding-right: 20px;
}

.full-blog p {
  color: #E5E5E5;
  font-size: 15px;
  text-align: right;
  padding-right: 20px;
}

.full-blog .horiz img {
  width: 47%;
  height: 47%;
  margin: 12px;
  float: left;
  cursor: pointer;
}

.full-blog .vert img {
  width: 22%;
  height: 35%;
  margin: 12px;
  float: left;
  cursor: pointer;
}

.full-blog .back-button {
  transform: scaleX(-1);
  color: #212121;
  font-size: 100px;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  top: -44px;
  left: 900px;
}

.full-blog .back-button:hover {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .full-blog {
    max-width: 600px;
  }
  .full-blog h4 {
    text-align: center;
  }
  .full-blog p {
    text-align: center;
  }
  .full-blog .back-button {
    position: relative;
    left: 50px;
    height: 60px;
    width: 60px;
    float: right;
  }
  .blog-line {
    max-width: 500px;
    padding-left: 0;
    padding-right: 6%;
  }
  .blog-line .blog-window {
    height: 150px;
    width: 150px;
    margin-right: 5px;
  }
  .blog-line .blog-window h4 {
    font-size: 14px;
    padding-top: 170px;
    text-align: center;
  }
  .blog-line .blog-window p {
    font-size: 9px;
    text-align: center;
    padding-top: 10px;
  }
}

@media screen and (max-width: 475px) {
  .blog-controls {
    position: relative;
    top: -45px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .blog-controls img {
    height: 50px;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .full-blog {
    max-width: 300px;
  }
  .full-blog .back-button {
    position: relative;
    left: 40px;
    top: -70px;
    height: 60px;
    width: 60px;
  }
  .blog-line {
    max-width: 350px;
    padding-left: 0;
    padding-right: 6%;
  }
  .blog-line .blog-window {
    height: 90px;
    width: 90px;
    margin-right: 5px;
  }
  .blog-line .blog-window h4 {
    font-size: 10px;
    padding-top: 110px;
    text-align: center;
  }
  .blog-line .blog-window p {
    font-size: 7px;
    text-align: center;
    padding-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .blog-controls {
    position: relative;
    top: -45px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .blog-controls img {
    height: 50px;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .full-blog {
    max-width: 300px;
  }
  .full-blog .back-button {
    position: relative;
    left: 10px;
    top: -70px;
    height: 60px;
    width: 60px;
  }
  .blog-line {
    max-width: 300px;
    padding-left: 0;
    padding-right: 6%;
  }
  .blog-line .blog-window {
    height: 80px;
    width: 80px;
    margin-right: 5px;
  }
  .blog-line .blog-window h4 {
    font-size: 10px;
    padding-top: 110px;
    text-align: center;
  }
  .blog-line .blog-window p {
    font-size: 7px;
    text-align: center;
    padding-top: 10px;
  }
}

.contact-section {
  width: 100%;
  height: 750px;
}

.contact-section .contact-width {
  max-width: 1300px;
  margin: 0 auto;
}

.contact-section .overlay {
  width: 100%;
  height: 750px;
  position: absolute;
  background-color: #3D3D3D;
  opacity: 0.8;
  z-index: -1;
}

.contact-section .underlay {
  width: 100%;
  height: 750px;
  position: absolute;
  background-image: url(/assets/img/bg/contact-bg.png);
  background-size: cover;
  z-index: -2;
}

.contact-section h3 {
  border: 0;
  margin: 0;
  text-align: center;
  padding: 50px 0;
}

.contact-section p {
  text-align: center;
  color: #212121;
  font-size: 16px;
  padding-top: 10px;
  text-transform: uppercase;
}

.contact-section a {
  color: #212121;
}

.contact-section a:hover {
  color: #FFF;
}

.contact-section .left-contacts {
  width: 50%;
  float: left;
}

.contact-section .right-contacts {
  width: 50%;
  float: right;
}

.contact-section .email-form {
  padding-left: 100px;
}

.contact-section .email-form form {
  float: left;
  margin: 0 auto 50px;
}

.contact-section .email-form form input, .contact-section .email-form form textarea {
  border: 3px solid #999;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-section .email-form form input:focus, .contact-section .email-form form textarea:focus {
  outline: none;
  border-color: #3d3d3d;
}

.contact-section .email-form form textarea {
  height: 7em;
}

.contact-section .email-form form [type="submit"] {
  border: 0;
  padding: 0;
  background: #999;
  color: #111;
  font-size: 16px;
}

.contact-section .email-form form [type="submit"]:hover {
  background: #777;
  color: white;
}

.contact-section .email-form form label {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  color: #000;
  font-size: 15px;
}

.contact-section .social-icons {
  padding-top: 10px;
  margin: 0px auto 40px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

.contact-section .social-icons a {
  font-size: 0px;
}

.contact-section .social-icons span {
  color: #212121;
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: block;
  font-size: 48px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.contact-section .social-icons span:hover {
  color: #FFF;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

.contact-section .emaillink {
  display: block;
  text-align: center;
  font-size: 33px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 50px;
}

.contact-section .phone {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 33px;
  font-weight: 300;
  line-height: 1;
}

@media screen and (max-width: 800px) {
  .contact-section {
    height: 600px;
  }
  .contact-section .overlay {
    height: 600px;
  }
  .contact-section .underlay {
    height: 600px;
  }
  .contact-section .left-contacts .email-form {
    padding-left: 50px;
  }
}

@media screen and (max-width: 750px) {
  .right-contacts {
    margin-right: -10px;
  }
  .right-contacts .emaillink {
    font-size: 24px;
  }
  .right-contacts .phone {
    font-size: 24px;
  }
  .right-contacts .social-icons {
    margin-right: 10px;
  }
}

@media screen and (max-width: 420px) {
  .contact-section {
    height: 400px;
  }
  .contact-section h3 {
    padding-bottom: 20px;
  }
  .contact-section .overlay {
    height: 400px;
  }
  .contact-section .underlay {
    height: 400px;
  }
  .contact-section .left-contacts .email-form {
    display: none;
  }
  .contact-section .right-contacts {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .contact-section .right-contacts p {
    margin: 0;
  }
  .contact-section .right-contacts .emaillink {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .contact-section .right-contacts .phone {
    font-size: 14px;
    margin-top: 10px;
  }
  .contact-section .right-contacts .social-icons {
    margin: 0 auto;
    padding-right: 50px;
  }
  .contact-section .right-contacts .social-icons span {
    margin: 0 25px;
  }
  .contact-section .right-contacts .social-icons span:hover {
    transform: none;
  }
}
