
  <div class="blogs">
    <div class="blogpage">
      <h4>The Progress</h2>
      <p>As the material progrssed I realized that I must start learning C# more intensivly if not I would fall behind too far. Thus I did the same like with Web Development and started watching online tutorials and making programs in my own time. While doing that I took a little break from web development but that was not a problem because I had gained enough knowledge from the tutorials and self study to afford doing that.</p>
    </div>
  </div>
