
<div class="blogs">
  <div class="blogpage">
    <h4>The Second Month</h2>
    <p>The beginning of my second month started with two modules, one of them is learning the basics of C# in Visual Studio and the second one is learning HTML, CSS and Javascript. It took me a while to find motivation to do extra work at home for C# because I found that console programs are not visualy pleasing but web development caught my interest straight away! Once I got home I started looking for some online tutorials and playing around on my own by trying to create web pages for my friends and family.</p>
  </div>
</div>
