<div class="blogs">
  <div class="blogpage">
    <h4>TDS Session 10</h2>
    <p> This is the final week for the project and I am happy to say that everything was made in time and I am pleased with the result. Before I get into the demo sessions that I had this week wanted to just mention the last improvements that were made during the week. </p>
    <p> Previously I used the audio listener on the camera to mute the game but Unity was not happy when there were no audio listeners in the scene so I had to come up with a different approach. I tried to code that when the button is pressed all the audio sources get muted through the inspector but for some reason that did not work out. It would mute everything for a second and then the sound would come back. Then I got a suggestion to use the audio mixer and that turned out just what I needed and implementing it was no problem at all. Each audio source has an option to have a mixer and after connecting all audio sources to the main mixer I could just code one line that says turn the volume down to all the mixers children and its going to be dead silence and then after a push of button get everything back as it was.  </p>
    <p> One more thing I did is I organised the animator. I had mentioned before in my blog that the animator looked really messy because all the animations where in the same place and each of them had like 6 or more transitions. At that time all I cared was for it to work, but now looking back on it I decided that is not professional and made it nice and organised. Actually the solution was not that difficult, only had to make a sub state machine and drag the appropriate animations in it and since they all were connected before the sub state were created all the transitions stayed untouched and every thing kept on working as before. </p>
    <p> This week I also had a demo session in university that gave me and other alike to get some healthy criticism to know where the game is at that moment and what adjustments should be made. The ones I got the most was that the ammo would run out too quick and the zombies would be too many. I purposely made the game like that because the difficulty makes the game fun to play. If the game was easier then the player would not have to do much but just stand in one spot and keep on shooting at zombies which might seem fun in the beginning but in less than 5 minutes you would say this is boring. In my game it is not impossibly hard but you do need to run around non stop and think ahead where the zombies are because if you don't then you might end up trapped by zombies end inevitably dying. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blogs6.png"><img src="/blog/blogtures/blogs6.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs66.png"><img src="/blog/blogtures/blogs66.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
