<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 3</h2>
    <p>During session 3 I learned about Animations and Animators. In my opinion unity provides a really good and easy way of creating animations. Even if you do not have separate animation sprites you can just import a sprite sheet with your desired animation and slice it up through unity's sprite editor. Then once you have the necessary sprites you need to chose a controller which is going to be the parent for your animations.</p>
    <p>Once the controller is chosen you can create as many different animation clips you want it to have and play them whenever it is appropriate. Creating a clip is easy, you just need to drag the animation sprites in the Unity's animation window. Animation window allows you to check how to animation is going to look by pressing the little play button and then viewing the controller in the scene. Adjustments have to be made to the frame rate because in default it is set to 60 and I have found that 60 is too much. I normally put around 20 but that is very depending on your personal preference and how do you want it to look in your game.</p>
    <p>Before trying to make animations it seemed very difficult and tedious but in Unity it seems fairly easy. Not only it helps you to make the animation in the animation window but then in the animator window it also helps you to make transitions between different animation clips. At the moment I have only 2 animation clips for the player, one with a stand still animation also knows as idle, and the other one is a firing animation. The idle animation consists only of 1 sprite but it is still saved as an animation clip so we can use it in the animator.</p>
    <p>You want to choose a default animation which will play as soon as you start the game and then make transitions from there onwards. A transition is what happens when you change from one state to another. Each animation should have 2 transitions between each other, so for example in my case there needs to be a transition from idle to shooting and from shooting back to idle. When the transitions are set up it is time to set up the parameters which are going to tell the controller when to go from one clip to the other. In my opinion booleans are the best parameters because all you need to do is write in the script when the player is shooting then set the boolean to true and in the transition you set whenever the bool is true then it starts playing the animation and when it stops shooting the boolean goes to false the shooting animations stops, but you must remember to set the transition back and let it know, when the parameter is false to go back to the idle animation.</p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blog3.png"><img src="/blog/blogtures/blog3.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog33.png"><img src="/blog/blogtures/blog33.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
