
  <div class="blogs">
    <div class="blogpage">
      <h4>Ant World Part 2</h2>
      <p>My ant world project is slowly moving ahead. Because I felt like I was stuck, I decided to take a step back and start learning something else following tutorials in youtube, and thanks to that I found a way to detect collisions which I swiftly implemented into my ant project. That step back helped me to clear my head and approach the problem with fresh ideas. I would just have my laptop always by my side and if anything worth trying popped into my head I would give it a shot. Out of 10 ideas maybe one of them stayed in the code, but mentally I felt how I'm building those ideas on top of each other and slowly coming to conclusions and eventually stable solutions. </p>
      <p> By now I have a working project where the ants move about randomly and once they come upon a nest or food they remember the location and tell other close ants, then once both coordinates have been found they start taking the food to the nest and while they are doing that they rotate properly as well, and then when there is no more food they start randomly searching for more food. The finishing touches that need to be made would be them to memorise certain food positions not just the latest and maybe introducing them to warrior ants that would steal their food.</p>
      <div class="parent-container">
        <div class="horiz" href="/blog/blogtures/ant1.png"><img src="/blog/blogtures/ant1.png" alt="Ant"></div>
        <div class="horiz" href="/blog/blogtures/ant2.png"><img src="/blog/blogtures/ant2.png" alt="Ant"></div>
        <div class="horiz" href="/blog/blogtures/ant3.png"><img src="/blog/blogtures/ant3.png" alt="Ant"></div>
        <div class="horiz" href="/blog/blogtures/ant4.png"><img src="/blog/blogtures/ant4.png" alt="Ant"></div>
      </div>
    </div>
  </div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
