<div class="blogs">
  <div class="blogpage">
    <h4>TDS Final Thoughts</h2>
    <p> The end of the semester is finally here. During these 10 weeks I learned a lot probably more than I actually expected from the beginning. I also came to a realization that some of the tips and tricks I got told before that I thought were a complete waste of time is actually not that bad.  </p>
    <p> One of the most popular tip I got was to use post it notes or any paper for that matter and just write down your goals or targets and that is going to help you being productive. I thought that has nothing to do with the real world but one day I just had a couple of ideas too many to remember so I wrote them down on a post it note and throughout the day as I did those things one by one I crossed them out on the note and it kind of gave me this clear view on how much I can accomplish when I try to do one thing after another. I think the main difference is that if you do not write it down then you are kind of always wondering what is your next move going to be and for one it makes you distracted and you waste mental energy on thinking about what to do not actually doing it. But if you write it down then you just keep on ticking off things one by one and all you focus on is how to do what you wrote down. </p>
    <p> Another thing people say is good to improve working speed is to break big problems into little ones and that truly helps. For this exact reason I like Unity because each script can do its own thing and it is easy to link them up and call methods in between. Also if you create something new but with the same properties or methods as something else have then you can just add the necessary script to the new object without rewriting the whole thing again. Unity just makes you life much easier, especially with prefabs, thanks to them I mostly just edited and tested everything in one level and then just clicked apply and all levels where the same. You could reuse the players character because it stays the same throughout the game, the same goes for the weapons and bullets as well as GUI, Crosshair and other objects.  </p>
    <p> One thing that I noticed was that during the first 4 weeks for me it was hard to progress with my game because I knew the next week I will be expected to build on top of what I built during this week and when following a instruction it is better that everything matches up, so I could not experiment with the game and make something new that could potentially interfere with the tutorial the following week. Also having a month to learn the basics I think was too long to remember what you did in week 1 when it is week 4. That is why I started the game from scratch after all the material was available and just went through it all in a day and felt like that was useful because I would definitely remember how I did everything so it would be easier to build on top of that. </p>
    <p> Making this game turned out fun and a very good experience for the future because it thought me not only about games but also about good programming principles and habits as well as the art of searching the web to find answers. And also after maintaining a blog for 10 weeks I feel like it has improven my writing skills not only spelling but also the speed on the keyboard and the speed of putting my thoughts into words. </p>
    <p> Quick tip for any of you who might experience weird and bizarre errors with Unity, 9 out of 10 times you just have to restart Unity and reload your assets. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blogs7.jpg"><img src="/blog/blogtures/blogs7.jpg" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs77.jpg"><img src="/blog/blogtures/blogs77.jpg" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
