
<div class="blogs">
  <div class="blogpage">
    <h4>Inspiration</h2>
    <p>When I got the the assignment about creating my own webpage I knew straight away that I want it to look modern and have neat trick embedded in it to maximise the viewers interest while interacting with the page. I started by researching videos on youtube that would give tutorials how to make modern and responsive websites because nowadays if your website does not scale for a smart phone or tablet then it a flop. The best tutorial I found was a guy named Drew Ryan, here is a link to his youtube channel if anyone else is interested: <a href="https://www.youtube.com/user/DrewOnCue/videos">https://www.youtube.com/user/DrewOnCue/videos</a>. After making 3 websites following his instructions I started brainstorm ideas for my own website. </p>
    <p> I really liked the website such as <a href="http://iss.io/">http://iss.io/</a> or <a href="http://travisneilson.com/">http://travisneilson.com/</a> where all the content would be display in the index page by separating them with different color blocks that stretch across the whole screen and then using the navigation the page would scroll to the chosen article. Even popular brands like Apple, Google and Android use the same method in presenting their information in separate blocks maybe sometimes using an image as the background or just colors which blend nicely together. Using such a design layout is not only efficient it also easy to apply media queries and make it responsive. </p>
    <p> When the design of the page was ready I started researching what javascript libraries could I use to achieve some interaction so when the viewer scrolls down he keeps his interest and think whats coming next. Showing my skills was one place that I knew can be made interactive, so I found an js library that makes pie charts that seem to appear out of nowhere when the viewer scrolls to that section. Another neat trick that I learned from youtube was to make the portfolio work and blog slidable so when the user clicks on the thumbnail the work seemingly slide in from the side and load the html link in there. Last but not least bounce.js is a cool website where I found css animations that are easy to implement and it just makes the page feel more alive.</p>
    <p>The contact section might look difficult but actually it has some very easy tricks for example like overlaying pictures and using fonts for icons. Even though it is the end of the page it certainly does not mean it is the end of its development. Expect to see new stuff coming soon.</p>
    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/ins3.png"><img src="/blog/blogtures/ins3.png" alt="Inspiration"></div>
      <div class="horiz" href="/blog/blogtures/ins2.png"><img src="/blog/blogtures/ins2.png" alt="Inspiration"></div>
      <div class="horiz" href="/blog/blogtures/ins1.png"><img src="/blog/blogtures/ins1.png" alt="Inspiration"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
