  <div class="blogs">
    <div class="blogpage">
      <h4>The Very Beginning</h2>
      <p>Hey my names is Arvids and this is first of many more to come game development blogs. So basically the first month is over and I feel happy with my choice. I have learned a lot of new stuff in a short period of time and it is only the beginning but I am in for the whole ride. In Game Dev 101 I polished a few basic skills I already had like keyboard shortcuts and searching in google, but then I learned a lot of new cool things like recording gameplay, making gifs and how to legally zip or unzip files instead of closing those annoying expiry notifications. But what I find the most important thing is that my lecturer made me start to think in a higher level and to look outside of the box for solutions to the problems I am going to encounter during the rest of my study. If that does not do the trick then there is always google who has your back! Thanks for reading!</p>
    </div>
</div>
