<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 7</h2>
    <p> Last week I finished the first level gameplay just as I like it so I used this week to set up the remaining three levels so they are playable and made a custom level complete screen for each level using the whole map as a background picture. Each level has their own zombies and each of them have different health points and strength. To make it easier setting up the level layout and characters I made sure that I had as many prefabs done as possible. That saves time and thinking because all the scripts are going to stay the same and if one level is working then the rest of them will as well.</p>
    <p> The new zombies have animations when they walk just like the player has. The game also gets noticeably tougher to play and stay alive for that reason now there are a lot more ammo for the guns but the strength of the gun stays the same because if you really want to survive then it is possible. I also think that because of this reason I will leave the navigation for the zombies as it is because it could not be possible to survive if they could go around corners and just walk straight at you no matter where they are. Now they still walk straight towards you but when they hit a wall they keep on walking towards the wall and that buys the player time to go find more ammo or health boxes and also makes the game a bit more challenging to find where the last zombie is. </p>
    <p> When going from one scene to the other I noticed that the score cleared itself and was looking for a fix on google. The forums had complicated and long code for it and I thought there must be a better way to do it and I was right because found a solution where someone said all that has to be done is make the score static so it will not clear itself each scene but stay static throughout the game. While tweaking GUI also made a label for the remaining zombies in the level to let the player know that he is not just wandering around in a empty level because sometimes it is hard to find the last zombie. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blog8.png"><img src="/blog/blogtures/blog8.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog88.png"><img src="/blog/blogtures/blog88.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog888.png"><img src="/blog/blogtures/blog888.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog8888.png"><img src="/blog/blogtures/blog8888.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
