<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Art</h2>
    <p> For this game at the beginning I looked for the art by searching for royalty free art and free asset packages but to be honest, most of the stuff for free does not look very good and if you get everything from different places then it will be really noticeable and will not blend in the game and just stand out really obviously and make the game look bad. For the sound effects it was a bit easier to find what I want for free but also stumbled upon some ridiculous sites that sell 5 second long sounds for tens and hundreds of dollars, I am not even exaggerating. </p>
    <p> I got very lucky with the player because some nice artist made the player with different weapons and animations royalty free for anyone to use it and the same was for the zombies, some kind soul made 3 different zombies and also animated them and made them free for anyone. Bullets I managed to get in a free asset pack which made me happy because all the big important groups came in a pack so they will look different but you can still tell it follows the same style as the previous. The same was with the smoke animations, they came in a pack so it makes it look like all the game assets are tailored for the game. </p>
    <p> For the rest I just searched google and did not worry too much about copyrights because everything is credited in the readme file and this is only for a school project where you need to show what you can do not how good you are at drawing. If someone would go seriously about building a game he would get at least a small team which would have a designated person for the art because when building a game for the public even the game assets that you can buy will most likely look cheap, nothing beats original artwork. </p>
    <p> All of the text is made in a site called cooltext.com which generates any word in your chosen style and then can be photoshoped on the image. For most of the pictures gotten off google I made slight adjustments or combined them together with some other pictures to make it one like the "Zombies To Shoot" sign in the right corner. And the menu screen backgrounds are from google which match the games theme, since the menu screen art is irrelevant for the coursework objective and aim for what it is meant to teach me I did not waste time by making my own backgrounds and just added custom text to the ones from google. </p>
    <p> So even though the art work is not 100% my own original and comes from different sources since it is not possible to just download all assets from one site I think the lesson here that matters is that I did my best to make it all blend together and seem that was tailored just for this game. And that shows if its possible to make a good looking game from different asset packs then with a game artist on my team I could do an even better job. This was also the reason behind the simple map background, so instead of spending days trying to match the items and textures in the huge level and as well match the styles of rest of the levels by building them from many different art assets I just chose to draw them myself so they look balanced just like everything else in the game. What matters is the result and I just knew if the maps would not be made like this then the end project as a whole would not look as good as it does now. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blogs4.png"><img src="/blog/blogtures/blogs4.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs44.png"><img src="/blog/blogtures/blogs44.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs444.png"><img src="/blog/blogtures/blogs444.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs4444.png"><img src="/blog/blogtures/blogs4444.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
