<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 1</h2>
    <p>This week I started the zombie shooter game project. Following the provided tutorials I added a character to the world and scripts for movement. The tutorials are very well written so by following the instructions it is easy to add the features and understand how it works behind the scenes. At the moment I have not came across any bugs. </p>
    <p>It all started by importing provided art assets, which are just normal png images but then to use them in the game they had to have their texture type changed to Sprite2D, luckily Unity provides a nice and easy way to choose and convert any image into the desired texture type by just selecting the type from a drop down menu and clicking apply. Since the game is 2D the game also requires sorting layers so the arena is always behind everything else, if forgotten to do this in the scene view it might look alright but when you run the game some of the items could disappear in the background. </p>
    <p> When applying coliders to the objects I found that circle colliders are the best ones to use because when all the objects are circles then there is no chance of the game character or the zombie to get stuck in a obstacle. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/game2.png"><img src="/blog/blogtures/game2.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/game3.png"><img src="/blog/blogtures/game3.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
