<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Easter Holidays</h2>
    <p>Even though it is easter holidays I still managed to do a few things to my game project. For starters I drew custom maps for the game with a pen in a notebook while I had some spare time to kill. When I was happy how the map looked like on paper I took a picture of it with my phone and emailed that picture to my laptop so I could then retrace my lines using Adobe Illustrator and colour them in as well while I'm at it. While colouring I came up with the idea about 4 seasons to give the game a little bit of dazzle. When all 4 maps were done I imported them in Unity and set up edge colliders so I could at least get the feeling of how the game is going to feel size wise. </p>
    <p>While I was doing my own game art I thought I could also look up some royalty free art on the internet for my player, zombies and collectable items. Got lucky and found an amazing top down shooter art pack with the same character but with different weapons and all of them were animated even the melee attack. So on another quiet day I spent a couple of hours to make all the animations and link them all together in the animator. Thanks to what I learned in session 3 making the animations was a piece of cake but it got tricky with the animator because in the session it was only 2 animation clips and I ended up with at least 30 different clips that had to be logically layed out to see all the transition arrows and then the transition parameters had to be set up as well. In the beginning thought I could make it work with less transitions but when tested realized that I need a lot more back and forth transition, for example like from rifle_move to rifle_shoot and then back and forth shotgun_shoot to rifle_shoot in case the player decides to switch weapons while in the middle of fire. It was a pain to do but at the end it is well worth it when you run the game and see how they are transitioning smoothly just as expected.</p>
    <p>After finishing the characters different animations for each gun the only logical next step was to create prefabs for the guns so when needed they could be placed in the map to be collected. At the moment what I created was a spinning weapon sprite but in the near future I will make it so when the player does not have the weapon in his inventory they will see it spinning on the ground but then to get more bullets for the weapon they will have to break a box and then below the box it is going to be hidden away so the player never knows which weapon ammo is going to be in the box. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blog555.jpg"><img src="/blog/blogtures/blog555.jpg" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog5555.jpg"><img src="/blog/blogtures/blog5555.jpg" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog55.png"><img src="/blog/blogtures/blog55.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog5.png"><img src="/blog/blogtures/blog5.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
