<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Inspiration</h2>
    <p> At the very beginning first game that came to my mind was "Alien Shooter" because I used to play it a lot when was little. So from there I got the idea for making the map quite big and sort of a labyrinth. I also liked how bloody the game is but that amount of blood was way out of my league so I just have puddle of blood for each zombie. Having also custom bullets for every weapon was one of the things I liked in "Alien Shooter" that is why implemented that into my game as well, but that is pretty standart for every top down shooter game. </p>
    <p> One really cool game that I found out while making my own was "Bloody Streets" which is also a top down shooter against zombies. The zombies come in waves and each wave has like hordes of zombies which I also noticed that they tend to run straight into the wall as well and not have the best navigation system. In this game not only he has different weapons but also a special attack which loads up when killing zombies and then the attack itself is spinning and cutting everything around which looks really amazing but again is a bit too much for me the replicate that is why I went with a simple melee attack which knocks the zombies back. </p>
    <p> While playing this game you can really feel how juicy it is and that really makes the game more amusing. Thus took a few ideas and made them happen in my game as well. Like the screen flashing when shooting and from that one thought why not have a flash as an indicator for damage and health as well. A suttle screen shake also makes the game feel a bit more alive when shooting or when getting attacked. </p>
    <p> Final game that I played for inspiration was "Crimsonland" in which I really liked survival mode and wanted to have one for my game as well but I will talk about that more in the blog about ideas and mods for the future. Also as mentioned before, another game where you can see how the most of the attention of visual detail is towards the enemies and players weapon bullets because after a few minutes in the survival mode on the background all you can see is red blood everywhere. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blogs2222.jpg"><img src="/blog/blogtures/blogs2222.jpg" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs2.png"><img src="/blog/blogtures/blogs2.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs222.png"><img src="/blog/blogtures/blogs222.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs22.png"><img src="/blog/blogtures/blogs22.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
