<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Future Plans</h2>
    <p> I would most definitely say this project can become a real game on the app store in the future. The base idea and mechanisms are good and the only thing really needed is an artist who could do original artwork just for this game and then sound effects should also be original. But as I said the base is good and stable to build on top of it, like for example a survivor mode, or more levels, a sequel or even make the whole gameplay a story that plays in between scenes. </p>
    <p> I was planning on doing a survivor mode but did not feel like I could make it before the deadline because it should require different mechanics and assets. I would have a arena without any blocks apart from boxes that would randomly appear with supplies in them. Plus for it to be interesting I imagine there should be a clever algorithm running behind the scenes and making the level slightly harder each minute but it has to be gradual. And a survivor mode would also need power ups to spice up the gameplay if not would get pretty boring quite quick. Thus I did not have the time to implement all of that but it is doable and maybe a good project for the summer. </p>
    <p> The other thing I would really love to see is a story for the gameplay. The idea came to me spontaneously but when put on paper I just fell in love with it and was tempted to make it but sadly I am not a good artist and telling a story without artwork would not be the same as I imagine it. Here is a snippet of what the story could look like:
    </p>
    <p>
    "The large hadron collider managed to rip open space time and created a wormhole between our planet and an alternative universe where zombies rule the planet. The only humans that survived where the scientists in the safety room while everyone else got teleported through the wormhole to the zombie planet and the zombies came to our planet. What is going on in the zombie planet while humans live there is a story for another time. But the humans who stay on our planet draw straws to see which of the scientists are going to stand by to fix the large hadron collider in order to reverse what happened and bring their families back and who is going to be the chosen one to defend the area against incoming zombies. In the beginning they thought it should take roughly around 1 month but then that 1 month turned into 1 season and 1 season ended up being a whole year."
    </p>
    <p>
    I think the story could be very touching and interesting to play out as well at the same time it could have a few jokes in it to light up the mood and maybe even make the player laugh out loud. The amount of ideas shooting around my head are countless each crazier than the other but all very limited to my own power.
    </p>


    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blogs5.png"><img src="/blog/blogtures/blogs5.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs55.png"><img src="/blog/blogtures/blogs55.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
