<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 5</h2>
    <p>This week has been a productive week for the game. Up to this point it was all about building a foundation for the game and in the following weeks is all about polishing the game. During the week I set up a starting scene and ending scene in between levels. While the code for these transitions are simple something still was not working when I tried it out, for some reason it did not go to the next scene and I could not understand why but then after searching google about the problem I found that the scenes need to be in the build settings in order for the game to find the necessary scene while running. </p>
    <p>I stumbled upon a weird bug in unity this week. When I tried to play the level, for no obvious reason all the zombies were moving towards the middle of the map not me. After some further investigation I found out that the problem was that the zombies were moving towards the player characters clone which supposedly was in the middle of the scene but could not be seen. Typed in google to see if anyone else has had this problem and I was not alone, the people said that if that happens the first thing to do is restart unity and that should fix the problem. Saved my scene and tried it out and luckily it did work and everything was running as before. This happened to be one again later in the week but the reason why it does this I do not know. </p>
    <p>This week there also was a play test with other students and what I heard most was that the zombies should have a navigation mesh in order for them to avoid obstacles because at the moment they just walk straight towards the player and if there is a wall then they just keep on walking in the wall and that does not look good. At the same time while playing the game I realised that this defect could be used as an effect because if the zombies would walk towards me without any obstacles then the player could just stand in the same position and wait for them but in my case the player has to walk around the map to find every single zombie alive in order to complete the level. At the moment I want to leave it like this to make the game a bit more difficult. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blog6.png"><img src="/blog/blogtures/blog6.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog66.png"><img src="/blog/blogtures/blog66.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
