
  <div class="blogs">
    <div class="blogpage">
      <h4>Phaser States</h2>
      <p>The time came for me to learn phaser and if I am completely new to it my favorite method of learning is by following tutorials. Thus I bought a book that promised me to build 8 games and explain them all through more than 400 pages. Once I started the first game I quickly noticed that this is not step by step book but they explain how and why. I was not excited about this but still found it useful. </p>
      <p> By analyzing the games and reading the book I could get a better and deeper understanding of how the language works, luckily it is not difficult. I was still upset that I would not get to build the game from the ground up but just dig through them. So after analyzing the first three games I started to try and build a game of my own, and the result you can see in this website. I will attempt to go trough the remaining games and hopefully whilst doing that I am going get struck by another good idea to try and build on my own. </p>
      <div class="parent-container">
        <div class="vert" href="/blog/blogtures/inter1.png"><img src="/blog/blogtures/inter1.png" alt="Phaser"></div>
        <div class="vert" href="/blog/blogtures/inter2.png"><img src="/blog/blogtures/inter2.png" alt="Phaser"></div>
        <div class="vert" href="/blog/blogtures/inter3.png"><img src="/blog/blogtures/inter3.png" alt="Phaser"></div>
        <div class="vert" href="/blog/blogtures/inter4.png"><img src="/blog/blogtures/inter4.png" alt="Phaser"></div>
      </div>
    </div>
  </div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
