
  <div class="blogs">
    <div class="blogpage">
      <h4>Swift vs C#</h2>
      <p>When I started programming I quickly changed from objective-C to Swift because after seeing an introduction video of how everything is simplified in Swift that allows the developer to be more efficient and write code that is readable by pretty much anyone. The highlights in my opinion are that you do not have to put semicolons after every line, you can make almost anything into a variable, the console will write a line by just typing print() and your text within the brackets, and the best of all it has an game engine built in so you do not have to download anything else for developing games, those where just the first that came in my mind but I assure you there are plenty of more cool features it has to offer. </p>
      <p> I was hoping to come in contact with swift while studying as well but apparently the language is not that popular, yet! So now I am learning a new language called C# which I will be using throughout my 3 year course. After writing in Swift for half a year I got really used to it and starting to learn C# was not easy but I still could use some core basic principles I learned before.</p>
    </div>
    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/swift1.png"><img src="/blog/blogtures/swift1.png" alt="Versus"></div>
      <div class="horiz" href="/blog/blogtures/swift3.png"><img src="/blog/blogtures/swift3.png" alt="Versus"></div>
    </div>
  </div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
