<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 2</h2>
    <p>All Colliders have an Is Trigger​ checkbox. When Is Trigger ​is not ticked​ the GameObject will react to colliding with other GameObjects like bouncing all over the place and other cool physics simulation stuff. But when Is Trigger​ is ticked​, the GameObject will pass through​ other GameObjects and then send out a signal ​when it passes through​ something! </p>
    <p> A Prefab ​is a GameObject ​we can use in any Scene, the reason being, a Prefab ​is actually a separate file! We can edit the Prefab ​once and use it anywhere, so for example if you have multiple zombies then you can just edit that one prefab and update all of the zombies that use the prefab as if it was like a blueprint. Prefabs ​are often used for things we want to spawn and destroy a lot like: bullets, zombies, explosions, prefabs ​can also be used on the player GameObject, so we can use it in multiple scenes. </p>
    <p> When setting up a bullet spawn point I instantly had the idea of putting two spawn points instead of one because there are two guns to begin with. After successfully setting two bullet spawn points I had the idea of putting even more spawn points and make the weapon as shotgun. In order to do that I had to change the bullet collider settings so the bullets would not collide with each other. </p>
    <p> To deal or take damage we need to know the colliding GameObject i​s the same as our damageTag​(i.e.its a Zombie​), we can tell it to take s​ome damage​! We need to use the SendMessage ​method, to damage i​t in the SendMessage ​method, the first parameter ​is a string w​ith the name of TakeDamage this is the name ​of the method on the zombie ​that handles t​he zombies health, next parameter ​is the damage w​e want to send t​he Zombie,​ which is the Bullets damage property that need to be an int. </p>
    <p> If the target ​is set​, we can move towards​ the target​! First, we get the position ​of our GameObject​, using transform.position then, we use the Vector3.MoveTowards ​method to move towards our target. The Vector3.MoveTowards ​method takes 3 parameters​: from, to, speed. So in our case it is from: transform.position, to: target.position and speed: must be a whole number. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blog2.png"><img src="/blog/blogtures/blog2.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog22.png"><img src="/blog/blogtures/blog22.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
