
  <div class="blogs">
    <div class="blogpage">
      <h4>Exchange Year</h2>
      <p>Aside from all the programming I am also researching exchange year opportunities in America. My university is a part of group that do send students on exchange programs and they said it shouldn't be a problem to get into one, I started my research straight away once I found out. On the top of my list is obviously California but not just because of the sun, the university offers a lot of different modules specialising on design. I have realised that design is one of my favorite thing and the opportunity to study it in California would be a like a dream come true because California has the best universities for such things or anything art related. </p>
      <p> The rest of my chosen universities are located on the east side of US and mostly in the North. On that side of the country I found that universities focus more on the development part. What I am looking for is a university that does a bit of everything. One thing that I really want to study is programming for IOs and that I found only in two universities. A lot of them offer advanced web programming, artificial intelligence and game programming which is what my home university requires for me to learn while abroad. I have also found interesting modules like theory of computing or human-computer interaction. Now everything seems so overwhelming. I will definitely keep my readers up to date once I get into one of them.</p>
      <div class="parent-container">
        <div class="horiz" href="/blog/blogtures/usa1.png"><img src="/blog/blogtures/usa1.png" alt="USA"></div>
        <div class="horiz" href="/blog/blogtures/usa2.png"><img src="/blog/blogtures/usa2.png" alt="USA"></div>
        <div class="horiz" href="/blog/blogtures/usa3.png"><img src="/blog/blogtures/usa3.png" alt="USA"></div>
        <div class="horiz" href="/blog/blogtures/usa4.png"><img src="/blog/blogtures/usa4.jpg" alt="USA"></div>
      </div>
    </div>
  </div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
