<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 6</h2>
    <p>This week a have been polishing the game and made the first level ready so I can now start focusing on the next ones. I got some new bullet assets for the guns and also edited the script so the guns can run out of ammo and when pick up a weapon the ammo is refilled. It was a bit tricky but after looking over the last tutorial about GUI I managed to make the ammo appear in the corner just like the score and health information. </p>
    <p>I have finally made a melee attack that does what I wanted it to do. What I wanted is for the melee attack to push back the zombie but for some reason it did not work. Then I tried to comment out some things from the scripts to see what is the cause for that and found that the problem was in the zombies behaviour. In order for them not to fly around the map when bumped into they have a velocity of zero at all times but that also means that they can not be pushed around. So using the knowledge about invoke that I learned during the first weeks I made it so when the player attacks with the melee attack then the method that made the velocity zero at all times gets paused for half a second so the zombie can get pushed back and after that time it turns back on and the zombies is coming at you as before. </p>
    <p>Another thing I realised is that saving often is a very good habit to have. Throughout the day I did not save the scene but only the script files, in the evening while I was trying to upload more assets unity crashed and gave me no option apart from force quitting the game because of some kind of file error. As I pressed quit I realised that I haven't saved the scene for a long time and was hoping unity did it for me before shutting down but unlucky for me it did not and everything I did in unity was gone but thankfully the scripts were saved and most of the hard work did not go missing. Setting up the scene again was not hard because I remembered everything that had to be done, which was setting up collision physics and layers, configuring the scripts and some assets. This little scare was a good lesson for me and I am saving the scene far more often than before. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blog7.png"><img src="/blog/blogtures/blog7.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog77.png"><img src="/blog/blogtures/blog77.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog777.png"><img src="/blog/blogtures/blog777.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog7777.png"><img src="/blog/blogtures/blog7777.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
