<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 8</h2>
    <p> Since the game mechanic is done I spend all my time polishing the game. This week I made a lot of slight changes to make the game more juice. Before the game felt stiff and did not give any feedback for the player, like if he got hit then he would only see the numbers change and that's it. Even the smallest things can make your game look in a completely different level and improve the gameplay to make it more fun to play. </p>
    <p> I started off slow by arranging all the boxes to be neatly aligned instead of just all over the place. Then I added a screen shake because it is easy to implement and gives a massive difference. All the magic is to add random coordinates to the camera through the update method for a few seconds and it feels like there is an earthquake outside your house. You do not want it too strong though so it does not mess up the whole smooth gameplay by giving a seizure to the player.  </p>
    <p> Next thing on my checklist was to make it visually clear that you get hit or healed up or even when you are shooting. So I made a picture on photoshop that would look like a cloudy frame and coloured it in a matching colour. By hooking it up with the shooting method the screen flashes exactly when each bullet get shot and the flashing matches the fire rate and when a zombie hits you the screen gives a quick shake just to make the player flinch. Whilst doing the green flash for healing I also thought that a sound effect is necessary for this and got one for free off the internet. </p>
    <p> I did not feel like a was quite done yet and felt like something is missing and that something was an animation for the melee attack. With the same free asset pack where I got the smoke for the box explosion I also got a few more different smoke effects and one of them was perfect for the melee because it leaves a smoke trail where the zombie got pushed back and added a sound effect to that as well and could not get any better was really happy and I think for the moment there is enough visual effects. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blog9.png"><img src="/blog/blogtures/blog9.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog999.png"><img src="/blog/blogtures/blog999.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog99.png"><img src="/blog/blogtures/blog99.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog9999.png"><img src="/blog/blogtures/blog9999.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
