
  <div class="blogs">
    <div class="blogpage">
      <h4>How it Began</h2>
      <p>Before I even though of going to university I wanted to try out programming at home. I thought that I am going to need a powerful computer with a comfortable keyboard to do that and my laptop had neither and was not performing as it should even after I reinstalled windows so I went out and bought myself a Macbook Air. On the app store I could download Xcode which is an free integrated development environment (IDE) containing a suite of software development tools developed by Apple for developing software for OS X and iOS. </p>
      <p> In the beginning I used apple own language objective-C and made a few games following tutorials from youtube. But then I heard about a new language called Swift that was released just under a year ago and deiced to have a look at it because it promising. On youtube there was not a lot of tutorials related to games so I decided to buy my first code related book "iOs Games by tutorials" which had 5 different games all written with swift and by the end of that book I decided that I want to continue studying computer game development and plymouth had the best modules out of all the other universities in the coutry.</p>
    </div>
  </div>
