
<div class="blogs">
  <div class="blogpage">
    <h4>Ant World Part 1</h2>
    <p>For the past week I have been working on this project which is an assignment in Software Engineering. During this week I have had my ups and downs. In my opinion the beginning went really well because I managed to make an ant appear on the screen and move around randomly and smoothly in just a day. For it to work I used a lot of concepts I learned while doing an analog clock exercise 2 weeks ago. </p>
    <p> The following day I tried to multiply the ants on the screen which did not come as easy as I thought it would. Took me about 3 hours of trial and error but I managed to make any number of ants appear and move in a random direction for a short period of time because once the ants went in the same "random" direction they started moving around the same way (synchronized). The bug (no pun intended) took me 3 more hours of trials until I came up with a solution to add another timer to change the directions of moving ants every 10 steps they take. </p>
    <p> In the game the ants have an objective to find food and bring it back to the nest. Getting the drawing done on mouse clicks was easy, it took a little more effort to detect collisions but once that was done I felt like I am half way done. Now I am working on making the ants a little bit more intelligent so when they find food they take it back to their nest and go back to gather more food. To be continued...</p>
    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/vs1.png"><img src="/blog/blogtures/vs1.png" alt="Visual studio"></div>
      <div class="horiz" href="/blog/blogtures/vs2.png"><img src="/blog/blogtures/vs2.png" alt="Visual studio"></div>
      <div class="horiz" href="/blog/blogtures/vs3.png"><img src="/blog/blogtures/vs3.png" alt="Visual studio"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
