<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 9</h2>
    <p> After lasts weeks visual effect adding I decided this week to finally stick all the parts together and make this game so it can be played, played again, paused and now just as I wrote that realised that it needs an quit game button as well but that should not take too long to implement. So now in the game you can go from menu to game and then if game over you see a screen with your score and get asked if want to try again and if you pass onto next level you also see the score but a different background plus continue button for the next level. </p>
    <p> During the game it felt like there needs to be a pause button because by standing for a few seconds you will probably end up dead. So I made a custom background for the menu that pops up when escape is pressed and as soon it pops up the game pauses and you can turn the sound off because it may get loud in a intensive battle, you can also check the controls if need to refreshen your memory or go to the main menu. </p>
    <p> While doing the menus I also thought why not make a nicer game UI so it blends in with the game better than a black rectangle in the corner. For the remaining zombies I took 3 different images I found on google and put them together to say "Zombies To Shoot". For the health and ammo I decided to use the very handy unity image component which lets you make the image type be filled and then by a slider you can control the amount of picture shown which is perfect for what I needed. Saw it also could to the same to a circle by filling it 360 degrees and was really tempted to do it but though that would be too much and better of leave it for the next project. </p>
    <p> I got a suggestion to make add some more textures to the game so it would not look so flat but to be honest when I visualised what I want the game to look like it was just like that by having a simple background where you can clearly understand which are the walls and where can you go. And most of the time while playing the player probably is going to be too focused on where the zombies are coming from and where can he run to notice anything else. And because of so much attention is for the zombies they got all the visual effects, like every level has their own zombie and animation plus this week added a blood splat on the ground where the zombie dies so that compensates for the lack of depth to the map. </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blogs1.png"><img src="/blog/blogtures/blogs1.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs11.png"><img src="/blog/blogtures/blogs11.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs111.png"><img src="/blog/blogtures/blogs111.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blogs1111.png"><img src="/blog/blogtures/blogs1111.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
