<div class="blogs">
  <div class="blogpage">
    <h4>Review</h2>
    <p>Recently I have done a lot of researching about web page design and layout as well as I watched a couple of inspirational video that would help me come up with game ideas. I think that nowadays if your page does not have any interaction, moving parts or if it does not resize to the size of a smart phone then it is better not to host that website or make immediate changes to it. Times goes fast and technology evolves even faster. If a couple of decades ago pong or tetris was considered top notch then today even some of the games with amazing graphics and gigantic free worlds are not considered anything special.</p>
    <p>For motivation and inspiration I consider interviews are the best way to go. I watched the design3 interviews with both of "Super Meat Boy" developers and that truly insipred me to put in twices as much work and helped me realise all of us developers start at the same point, we all do bad games in the beginning, maybe even more than the first 50 is going to be bad but then the 51st could strike a gold mine. I guess the bottom line of the story is that you need to stay happy about whatever you are doing and not to expect a lot so when you do get something you would get even happier.</p>
    <p>In the start it is very important to have fun. And whatever you do that makes you smile, just do it. Even if it is a game with your or your friends face in it, if it is a mockup website for cats or just following tutorials step by step to make something that at the end still makes you feel proud of, that you stuck through the whole thing and that you copied everything as it is, as long as it's your own.</p>
    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/rev1.png"><img src="/blog/blogtures/rev1.png" alt="Review"></div>
      <div class="horiz" href="/blog/blogtures/rev2.png"><img src="/blog/blogtures/rev2.png" alt="Review"></div>
      <div class="horiz" href="/blog/blogtures/rev3.png"><img src="/blog/blogtures/rev3.png" alt="Review"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
