<div class="blogs">
  <div class="blogpage">
    <h4>Zombie Game Session 4</h2>
    <p>Session 4 was interesting because we finally put together all the basic logic and assets for the game to be played properly. It all started with putting sounds effects for the player when he shoots. We were not given an sound asset so this time we had to go on the internet and find some royalty free sounds that are ok to use in the game without any legal consequences. That was good practice for us to see how easy or hard it is and what does the internet offer as free, because later on I am going to change most if not all art assets.</p>
    <p>Once the right sound was found I started to make it work. Again Unity makes life easy and to add a sound you just need to add an audio source component to the gameobject which is going to emit the sound. When that is all set up it is just a matter of writing a few lines in the script, for example if the player is holding his left mouse button down then play the sound clip.</p>
    <p>Another interesting thing I learned in session 4 is events and delegates. An event will broadcast a message that other scripts can listen for. And by using a delegate, other scripts can make their own custom methods that run when the event is set. These then got used for the games UI to update the player's health and score. Here is an example how the scripts communicate between one another, When the player is damaged by a zombie the UpdateHealth event runs and sends a message to the Game UI that has a HandleHealth method that listens to the UpdateHealth method and when they make contact HandleHealth runs, showing the players updated health.  </p>

    <div class="parent-container">
      <div class="horiz" href="/blog/blogtures/blog4.png"><img src="/blog/blogtures/blog4.png" alt="Game"></div>
      <div class="horiz" href="/blog/blogtures/blog44.png"><img src="/blog/blogtures/blog44.png" alt="Game"></div>
    </div>
  </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
