.about-section
  width: 100%
  height: 900px
  background-color: #E5E5E5
  h3
    text-align: center
  .left
    width: 50%
    height: 350px
    float: left
  .right
    width: 50%
    float: left
  .bottom
    width: 600px
    height: 400px
    margin: 0 auto
    float: right
  .about-width
    max-width: 1300px
    margin: 0 auto
  .canvases
    float: left
    width: 100%
    padding-top: 10px
    padding-right: 25px
    div
      float: left
    h5
      margin: 0
      float: none
      position: relative
      text-align: center
    canvas
      padding: 30px
      float: left

  .picture
    +size(400px)
    margin-left: 20%
    margin-right: 20%
    background:
      image: url(/assets/img/bg/circleimage.jpg)
      repeat: no-repeat
      size: 100%
    margin-top: 100px
    border-radius: 50%
    border-style: solid
    border-width: 4px
    border-color: #3d3d3d
    float: left
  .about
    width: 100%
    padding-top: 50px
    float: left
    h3
      margin: 0 auto
      padding-bottom: 30px
      text-align: center
    p
      font-size: 18px
      color: #212121
      padding-right: 25px
      margin: 0

@media screen and (max-width:1050px)
  .about-section
    height: 1000px
    .picture
      +size(300px)
    .bottom
      float: none
@media screen and (max-width:900px)
  .about-section
    height: 1050px
    .picture
      +size(250px)
    .bottom
      float: none
@media screen and (max-width:730px)
  .about-section
    height: 1100px
@media screen and (max-width:700px)
  .about-section
    height: 1100px
    .left
      float: none
      width: 100%
    .right
      float: none
      width: 100%
      p
        text-align: center
        padding-left: 10px
    .bottom
      float: none
      width: 100%
    .canvases
      padding-left: 10px
      canvas
        padding: 30px
        float: left
    .about
      padding-top: 0
    .picture
      background-position: center
      background-size: contain
      margin: 50px 31% 0

@media screen and (max-width:630px)
  .about-section
    height: 1100px
    .bottom
      width: 500px
      height: 300px
    .canvases
      canvas
        padding: 20px
        float: left
    .picture
      background-position: center
      background-size: contain
      margin: 50px 28% 0

@media screen and (max-width:530px)
  .about-section
    height: 1200px
    .bottom
      width: 485px
      height: 300px
    .canvases
      padding-left: 0
      canvas
        padding: 20px
        float: left
    .picture
      background-position: center
      background-size: contain
      margin: 50px 24% 0

@media screen and (max-width:475px)
  .about-section
    height: 1280px
    .bottom
      width: auto
      height: auto
      margin: 0 auto
    .canvases
      canvas
        padding: 18px
        float: left
    .picture
      background-position: center
      background-size: contain
      margin: 50px 19% 0

@media screen and (max-width:400px)
  .about-section
    height: 1280px
    .bottom
      width: auto
      height: auto
    .canvases
      canvas
        padding: 15px
        float: left
    .picture
      background-position: center
      background-size: contain
      margin: 50px 15% 0

@media screen and (max-width:350px)
  .about-section
    height: 1380px
    .bottom
      width: auto
      height: auto
    .canvases
      canvas
        padding: 12px
        float: left
    .picture
      background-position: center
      background-size: contain
      margin: 50px 10% 0
