.blog-section
  width: 100%
  +clearfix
  background-color: #353535
  h3
    color: #A6A6A6
    padding-top: 50px
    margin: 0
    text-align: center

.blog-slider
  width: 200%
  height: auto
  right: 100%
  background-color: #999
  position: relative
  +transition(all 800ms)

.blog-controls
  cursor: pointer
  +position(relative, 0px 0px 0px 0px)
  img
    +size(50px)
    padding-top: 100px
    padding-bottom: 100px
  .blog-next
    +position(absolute, 50% 10px null null)
  .blog-prev
    +position(absolute, 50% null null 10px)

.left-wrap
  width: 50%
  float: right
  padding-bottom: 50px
  overflow: hidden

.right-wrap
  width: 50%
  float: right
  padding-bottom: 70px

.blog-line
  max-width: 900px
  margin: 20px auto
  padding-left: 30px
  position: relative
  display: none
  &.active-blog
    display: flex

  #one-thumb
    background-image: url(/assets/img/blog/freshers.png)
  #two-thumb
    background-image: url(/assets/img/blog/2-months.png)
  #three-thumb
    background-image: url(/assets/img/blog/progress.jpg)
  #four-thumb
    background-image: url(/assets/img/blog/iosgames.jpg)
  #five-thumb
    background-image: url(/assets/img/blog/swiftvs.png)
  #six-thumb
    background-image: url(/assets/img/blog/ants.jpg)
  #seven-thumb
    background-image: url(/assets/img/blog/project.png)
  #eight-thumb
    background-image: url(/assets/img/blog/isep.png)
  #nine-thumb
    background-image: url(/assets/img/blog/phaser.jpg)
  #ten-thumb
    background-image: url(/assets/img/blog/me.png)
  #eleven-thumb
    background-image: url(/assets/img/blog/thumb2016.jpg)
  #twelve-thumb
    background-image: url(/assets/img/blog/zomb.png)
  #zomb-thumb
    background-image: url(/assets/img/blog/TDS4.jpg)

  .blog-window
    background-position: center
    background-size: cover
    cursor: pointer
    +size(250px)
    margin: 20px
    float: left
    @extend %animation-target
    h4
      color: #E5E5E5
      padding-top: 270px
      margin: 0
      text-align: center
    p
      color: #E5E5E5
      text-align: center
      padding-top: 10px

.full-blog
  max-width: 900px
  background-color: #353535
  margin: 0px auto
  position: relative

  h4
    color: #A6A6A6
    font-weight: 300
    text-transform: uppercase
    text-align: right
    font-size: 28px
    line-height: 1.2
    margin: 20px 0px
    padding-right: 20px
  p
    color: #E5E5E5
    font-size: 15px
    text-align: right
    padding-right: 20px

  .horiz
    img
      width: 47%
      height: 47%
      margin: 12px
      float: left
      cursor: pointer

  .vert
    img
      width: 22%
      height: 35%
      margin: 12px
      float: left
      cursor: pointer

  .back-button
    transform: scaleX(-1)
    color: #212121
    font-size: 100px
    cursor: pointer
    opacity: 0.5
    +position(absolute, -44px null null 900px)

    &:hover
      opacity: 1

@media screen and (max-width:900px)
  .full-blog
    max-width: 600px
    h4
      text-align: center
    p
      text-align: center
    .back-button
      position: relative
      left: 50px
      +size(60px)
      float: right
  .blog-line
    max-width: 500px
    padding-left: 0
    padding-right: 6%
    .blog-window
      +size(150px)
      margin-right: 5px
      h4
        font-size: 14px
        padding-top: 170px
        text-align: center
      p
        font-size: 9px
        text-align: center
        padding-top: 10px

@media screen and (max-width:475px)
  .blog-controls
    +position(relative, -45px 0px 0px 0px)
    img
      +size(50px)
      padding-top: 5px
      padding-bottom: 5px
  .full-blog
    max-width: 300px
    .back-button
      position: relative
      left: 40px
      top: -70px
      +size(60px)
  .blog-line
    max-width: 350px
    padding-left: 0
    padding-right: 6%
    .blog-window
      +size(90px)
      margin-right: 5px
      h4
        font-size: 10px
        padding-top: 110px
        text-align: center
      p
        font-size: 7px
        text-align: center
        padding-top: 10px

@media screen and (max-width:400px)
  .blog-controls
    +position(relative, -45px 0px 0px 0px)
    img
      +size(50px)
      padding-top: 5px
      padding-bottom: 5px
  .full-blog
    max-width: 300px
    .back-button
      position: relative
      left: 10px
      top: -70px
      +size(60px)
  .blog-line
    max-width: 300px
    padding-left: 0
    padding-right: 6%
    .blog-window
      +size(80px)
      margin-right: 5px
      h4
        font-size: 10px
        padding-top: 110px
        text-align: center
      p
        font-size: 7px
        text-align: center
        padding-top: 10px
