.contact-section
  width: 100%
  height: 750px
  .contact-width
    max-width: 1300px
    margin: 0 auto
  .overlay
    width: 100%
    height: 750px
    position: absolute
    background-color: #3D3D3D
    opacity: 0.8
    z-index: -1
  .underlay
    width: 100%
    height: 750px
    position: absolute
    background-image: url(/assets/img/bg/contact-bg.png)
    background-size: cover
    z-index: -2
  h3
    border: 0
    margin: 0
    text-align: center
    padding: 50px 0
  p
    text-align: center
    color: #212121
    font-size: 16px
    padding-top: 10px
    text-transform: uppercase
  a
    color: #212121
  a:hover
    color: #FFF
  .left-contacts
    width: 50%
    float: left
  .right-contacts
    width: 50%
    float: right
  .email-form
    padding-left: 100px
    form
      float: left
      margin: 0 auto 50px
      input, textarea
        border: 3px solid #999
        width: 100%
        padding: 5px
        +box-sizing(border-box)
        &:focus
          outline: none
          border-color: #3d3d3d
      textarea
        height: 7em
      [type="submit"]
        border: 0
        padding: 0
        background: #999
        color: #111
        font-size: 16px
        &:hover
          background: #777
          color: white
      label
        width: 100%
        float: left
        +box-sizing(border-box)
        display: block
        margin-bottom: 20px
        color: #000
        font-size: 15px
  .social-icons
    padding-top: 10px
    margin: 0px auto 40px
    +display(flex)
    +justify-content(space-around)
    a
      font-size: 0px
    span
      color: #212121
      +size(50px)
      line-height: 50px
      display: block
      font-size: 48px
      +transition
      &:hover
        color: #FFF
        +transform(scale(2))
  .emaillink
    display: block
    text-align: center
    font:
      size: 33px
      weight: 300
    line-height: 1
    margin-bottom: 50px
  .phone
    margin-top: 10px
    display: block
    text-align: center
    font:
      size: 33px
      weight: 300
    line-height: 1
@media screen and (max-width:800px)
  .contact-section
    height: 600px
    .overlay
      height: 600px
    .underlay
      height: 600px
    .left-contacts
      .email-form
        padding-left: 50px
@media screen and (max-width:750px)
  .right-contacts
    margin-right: -10px
    .emaillink
      font-size: 24px
    .phone
      font-size: 24px
    .social-icons
      margin-right: 10px
@media screen and (max-width:420px)
  .contact-section
    height: 400px
    h3
      padding-bottom: 20px
    .overlay
      height: 400px
    .underlay
      height: 400px
    .left-contacts
      .email-form
        display: none
    .right-contacts
      float: none
      margin: 0 auto
      width: 100%
      p
        margin: 0
      .emaillink
        font-size: 14px
        margin-bottom: 10px
        margin-top: 10px
      .phone
        font-size: 14px
        margin-top: 10px
      .social-icons
        margin: 0 auto
        padding-right: 50px
        span
          margin: 0 25px
        span:hover
          transform: none
