.footer
  width: 100%
  height: 125px
  background-color: #212121
  overflow-y: hidden
  +clearfix
  nav
    padding: 15px
    text-align: center
    a
      padding-right: 30px
      font-size: 24px
      font-weight: 300
      color: #777
    a:hover
      font-size: 24px
      color: #FFF
  p
    text-align: center
    padding-bottom: 5px

@media screen and (max-width:610px)
  .footer
    nav
      a
        font-size: 19px
      a:hover
        font-size: 19px

@media screen and (max-width:400px)
  .footer
    height: 80px
    nav
      padding-bottom: 8px
      padding-left: 25px
      a
        font-size: 12px
      a:hover
        font-size: 12px
    p
      font-size: 10px
