html, body, footer, header
  max-width: 100%
  overflow-x: hidden
  margin: 0 auto

.header-image
  width: 100%
  margin-top: -100px
  padding-bottom: 600px
  background: url(/assets/img/bg/background-head.jpg) center center
  background-size: cover
  +clearfix

  nav
    padding-top: 170px
    text-align: center
    a
      padding-right: 30px
      font-size: 24px
      font-weight: 300
      color: #999
    a:hover
      font-size: 24px
      color: #FFF
  h1
    padding-top: 70px
    color: #999
    margin: 0
    text-align: center

  .sub-title
    text-align: center
    font-size: 16px
    padding-top: 20px

@media screen and (max-width:610px)
  .header-image
    nav
      a
        font-size: 19px
      a:hover
        font-size: 19px

@media screen and (max-width:400px)
  .header-image
    nav
      padding-left: 15px
      a
        font-size: 14px
      a:hover
        font-size: 14px
