.work-section
  width: 100%
  background-color: #A6A6A6
  overflow-x: hidden
  h3
    margin: 0
    padding-top: 50px
    padding-bottom: 20px
    text-align: center

.work-slider
  width: 200%
  height: auto
  background-color: #A6A6A6
  position: relative
  +transition(all 800ms)

.work-grid
  width: 50%
  float: left
  padding-bottom: 50px

.showcase-wrap
  width: 50%
  float: left
  overflow: hidden

.my-work
  margin: 0 auto
  text-align: center
  position: center
  max-width: 900px

  #ag-thumb
    background-image: url(/assets/img/work/proj-1/agthumb.png)
  #ninja-thumb
    background-image: url(/assets/img/work/proj-2/ninjathumb.png)
  #mario-thumb
    background-image: url(/assets/img/work/proj-3/mariothumb.png)
  #ai-thumb
    background-image: url(/assets/img/work/proj-4/aithumb.png)
  #nim-thumb
    background-image: url(/assets/img/work/proj-5/nimthumb.png)
  #space-thumb
    background-image: url(/assets/img/work/proj-6/spacethumb.png)
  #raptor-thumb
    background-image: url(/assets/img/work/proj-7/raptorthumb.png)
  #weather-thumb
    background-image: url(/assets/img/work/proj-8/weatherthumb.png)
  #nimc3-thumb
    background-image: url(/assets/img/work/proj-5/nimc3.png)
  #game-thumb
    background-image: url(/assets/img/work/proj-9/new-thumb.png)
  #ash-thumb
    background-image: url(/assets/img/work/proj-10/ashthumbnew.png)
  #more-thumb
    background-image: url(/assets/img/work/more/morethumb.png)

  .work-window
    background-position: center
    background-size: cover
    +size(250px)
    margin: 20px
    float: left
    overflow: hidden

    .hoverlay
      +size(250px)
      +transform(scale(0))
      +position(relative, 0px 0px 0px 0px)
      background: fade-out(#E5E5E5, 0.2)
      background-position: center top
      background-repeat: no-repeat
      p
        padding-top: 115px
        font-size: 30px
        color: #212121

    &:hover .hoverlay
      +transform(scale(1))
      +position(relative, 0px 0px 0px 0px)
      +transition(0.5s)

    &:hover
      +transform(scale(1.25))
      box-shadow: 0px 10px 40px #212121
      +transition(1s)
      cursor: pointer

      .swift-logo
        background-image: url(/assets/img/logo/swiftlogo.png)
      .adobe-logo
        background-image: url(/assets/img/logo/adobelogo.png)
      .raptor-logo
        background-image: url(/assets/img/logo/raptorlogo.png)
      .vs-logo
        background-image: url(/assets/img/logo/vslogo.png)
      .phaser-logo
        background-image: url(/assets/img/logo/phaser-logo.png)
      .more-logo
        background-image: url(/assets/img/logo/more-logo.png)

.showcase-wrap
  padding-bottom: 70px

.work-showcase
  max-width: 900px
  margin: 0px auto
  position: relative

  h4
    color: #212121
    font-weight: 300
    text-transform: uppercase
    font-size: 28px
    line-height: 1.2
    margin: 0 0 20px
  p
    color: #414141
    font-size: 15px

  img
    width: 100%
    height: 100%

    &:hover
      cursor: pointer

  .back-button
    color: #212121
    font-size: 100px
    cursor: pointer
    opacity: 0.5
    +position(absolute, -44px null null -100px)

    &:hover
      opacity: 1

.thumb-grid-horiz
  border-style: solid
  border-width: 2px
  border-color: #000
  width: 48%
  height: 300px
  float: left
.thumb-grid-horiz-2
  width: 99%
  height: 500px
  border-style: solid
  border-width: 2px
  border-color: #000
  float: left
.thumb-grid-horiz-white
  border-style: solid
  border-width: 2px
  border-color: #FFF
  width: 48%
  height: 300px
  float: left
.thumb-grid-vert
  border-style: solid
  border-width: 2px
  border-color: #000
  width: 48%
  height: 600px
  float: left
@media screen and (max-width:1150px)
  .work-showcase
    max-width: 750px
@media screen and (max-width:900px)
  .work-showcase
    max-width: 700px
    .back-button
      height: 100px
      margin-bottom: -5px
      position: relative
      left: 10px
      float: left
  .my-work
    padding-left: 7%
    .work-window
      +size(180px)
      .hoverlay
        +size(180px)
  .thumb-grid-horiz
    height: 150px
  .thumb-grid-horiz-white
    height: 150px
  .thumb-grid-horiz-2
    height: 300px
  .thumb-grid-vert
    height: 300px

@media screen and (max-width:750px)
  .work-showcase
    max-width: 550px
    .back-button
      position: relative
      left: 0
      float: left
  .my-work
    padding-left: 5%
    .work-window
      +size(150px)
      margin: 15px
      .hoverlay
        +size(150px)
        p
          font-size: 20px
          color: #212121

@media screen and (max-width:600px)
  .work-showcase
    max-width: 500px
    .back-button
      position: relative
      left: 10px
      float: left
  .my-work
    padding-left: 3%
    .work-window
      +size(120px)
      margin: 12px
      .hoverlay
        display: none

@media screen and (max-width:495px)
  .work-showcase
    max-width: 350px
    .back-button
      position: relative
      left: 10px
      float: left
  .my-work
    padding-left: 5%
    .work-window
      +size(100px)

@media screen and (max-width:400px)
  .work-showcase
    max-width: 300px
    .back-button
      position: relative
      padding-bottom: 10px
      left: 10px
      float: left
  .my-work
    padding-left: 7%
    .work-window
      +size(70px)
