<h4 class="project-title">Mario Jump</h4>
<p>My very first game that I made from stratch in swift on xcode!</p>

<div class="parent-container">
  <div class="thumb-grid-vert" href="/assets/img/work/proj-3/mariojump2.png"><img src="/assets/img/work/proj-3/mariojump2.png" alt="Mario"></div>
  <div class="thumb-grid-vert" href="/assets/img/work/proj-3/mariojump1.png"><img src="/assets/img/work/proj-3/mariojump1.png" alt="Mario"></div>
  <div class="thumb-grid-horiz-2" href="/assets/img/work/proj-3/mariocode.png"><img src="/assets/img/work/proj-3/mariocode.png" alt="Mario"></div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
