<h4 class="project-title">My logo design</h4>
<p>The process of designing my logo from sketch to adobe illustrator!</p>


<div class="parent-container">
  <div class="thumb-grid-vert" href="/assets/img/work/proj-1/ag1.png"><img src="/assets/img/work/proj-1/ag1.png" alt="AG"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-1/ag3.png"><img src="/assets/img/work/proj-1/ag3.png" alt="AG"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-1/ag2.png"><img src="/assets/img/work/proj-1/ag2.png" alt="AG"></div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
