<h4 class="project-title">Adobe Illustrator Character Design</h4>
<p>One day I really wanted to try and draw something on paper and then transfer it on my coputer, and here you can see the outcome!</p>

<div class="parent-container">
  <div class="thumb-grid-vert" href="/assets/img/work/proj-4/ai1.png"><img src="/assets/img/work/proj-4/ai1.png" alt="AI"></div>
  <div class="thumb-grid-vert" href="/assets/img/work/proj-4/ai2.png"><img src="/assets/img/work/proj-4/ai2.png" alt="AI"></div>
  <div class="thumb-grid-vert" href="/assets/img/work/proj-4/ai3.png"><img src="/assets/img/work/proj-4/ai3.png" alt="AI"></div>
  <div class="thumb-grid-vert" href="/assets/img/work/proj-4/ai4.png"><img src="/assets/img/work/proj-4/ai4.png" alt="AI"></div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
