<h4 class="project-title">Game Of Nim</h4>
<p>This is a game I built for an assigment in Swift on Xcode.</p>

<div class="parent-container">
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-5/nimswift.png"><img src="/assets/img/work/proj-5/nimswift.png" alt="Nim"></div>
  <div class="thumb-grid-vert" href="/assets/img/work/proj-5/nimswift3.png"><img src="/assets/img/work/proj-5/nimswift3.png" alt="Nim"></div>
</div>


<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
