<h4 class="project-title">Raptor Nim</h4>
<p>A flow chart project that has been made in Raptor and is a starting point for the Game of Nim!</p>

<div class="parent-container">
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-7/raptors1.jpg"><img src="/assets/img/work/proj-7/raptors1.jpg" alt="Raptor"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-7/raptors2.jpg"><img src="/assets/img/work/proj-7/raptors2.jpg" alt="Raptor"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-7/raptors3.jpg"><img src="/assets/img/work/proj-7/raptors3.jpg" alt="Raptor"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-7/raptors4.jpg"><img src="/assets/img/work/proj-7/raptors4.jpg" alt="Raptor"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-7/raptors5.jpg"><img src="/assets/img/work/proj-7/raptors5.jpg" alt="Raptor"></div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
