<article id="work" class="work-section">
  <div class="work-slider">
    <div class="work-grid">
      <div class="my-work">
        <div class="work-window" data-name="work-5" id="nimc3-thumb">
          <div class="hoverlay vs-logo">
            <p>Game of Nim</p>
          </div>
        </div>
        <div class="work-window" data-name="work-6" id="space-thumb">
          <div class="hoverlay swift-logo">
            <p>Pac-Ship</p>
          </div>
        </div>
        <div class="work-window" data-name="work-9" id="nim-thumb">
          <div class="hoverlay vs-logo">
            <p>Game of Nim</p>
          </div>
        </div>
      </div>
    </div>

    <div class="showcase-wrap">
      <div class="work-showcase">
        <div class="back-button">
          <div class="typcn typcn-arrow-back"></div>
        </div>
        <div class="project-load"></div>
      </div>
    </div>
  </div>
</article>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/work.js" type="text/javascript"></script>
