<h4 class="project-title">Weather App</h4>
<p>This app is built in swift and it uses the internet to get live data about the weather from any city in the world!</p>

<div class="parent-container">
  <div class="thumb-grid-vert" href="/assets/img/work/proj-8/weather2.png"><img src="/assets/img/work/proj-8/weather2.png" alt="Weather"></div>
  <div class="thumb-grid-vert" href="/assets/img/work/proj-8/weather3.png"><img src="/assets/img/work/proj-8/weather3.png" alt="Weather"></div>
  <div class="thumb-grid-horiz-2" href="/assets/img/work/proj-8/weather.png"><img src="/assets/img/work/proj-8/weather.png" alt="Weather"></div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
