<h4 class="project-title">Space Game</h4>
<p>A game I built by following instruction from a video.</p>

<div class="parent-container">
  <div class="thumb-grid-horiz-white" href="/assets/img/work/proj-6/space1.png"><img src="/assets/img/work/proj-6/space1.png" alt="Space"></div>
  <div class="thumb-grid-horiz-white" href="/assets/img/work/proj-6/space2.png"><img src="/assets/img/work/proj-6/space2.png" alt="Space"></div>
  <div class="thumb-grid-horiz-white" href="/assets/img/work/proj-6/space3.png"><img src="/assets/img/work/proj-6/space3.png" alt="Space"></div>
  <div class="thumb-grid-horiz-white" href="/assets/img/work/proj-6/spacecode.png"><img src="/assets/img/work/proj-6/spacecode.png" alt="Space"></div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
