<h4 class="project-title">Ninja Run</h4>
<p>The game is written in swift on xcode using built in shape drawing method to build the character by following a video tutorial.</p>

<div class="parent-container">
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-2/ninja1.png"><img src="/assets/img/work/proj-2/ninja1.png" alt="Ninja"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-2/ninja2.png"><img src="/assets/img/work/proj-2/ninja2.png" alt="Ninja"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-2/ninja4.png"><img src="/assets/img/work/proj-2/ninja4.png" alt="Ninja"></div>
  <div class="thumb-grid-horiz" href="/assets/img/work/proj-2/ninja3.png"><img src="/assets/img/work/proj-2/ninja3.png" alt="Ninja"></div>
  <div class="thumb-grid-horiz-2" href="/assets/img/work/proj-2/ninjacode.png"><img src="/assets/img/work/proj-2/ninjacode.png" alt="Ninja"></div>
</div>


<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/mainpop.js" type="text/javascript"></script>
<script src="assets/js/popup.js" type="text/javascript"></script>
